{% extends 'base_generic.html' %}

{% block content %}
    <h1>Your Tasks</h1>

    {% if tasks %}
        <ul>
            {% for task in tasks %}
                <li>{{ task.title }} - 
                    <a href="{% url 'edit_task' task.id %}">Edit</a> | 
                    <a href="{% url 'delete_task' task.id %}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tasks available.</p>
    {% endif %}

    <a href="{% url 'add_task' %}">Add New Task</a> <!-- Always show Add Task button -->
{% endblock %}
